h6{
    color: #fff;
    padding: 10px;
    font-size: 20px;
}
h3{
    color : #fff;
    font-size: 40px;
    margin-bottom: 30px;
    
}
.contact-container{
    background-color: #2878d5;
    padding :30px;
    width: 100%;
}
.icon_container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon_container>a>div{
    width: 100px;
    height: 180px;
}
.icon_container>a>div>img{
    width: 80%;
    height:45%
}